.header1 {
  background-color: #ffff;
  color: rgb(22, 6, 85);
  padding: 10px;
  font-size: medium;
  align-content: flex-start;
  display: flex;
  font-size: x-large;  
  /* position: fixed;   */
  top: 0%;
  overflow: hidden;
}
nav {
  background-color: #9dd1e7;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: large;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 60px; /* Increased padding */
  text-decoration: none;
}

.menu li a:hover {
  background-color:#ddd;
}

.active {
  background-color: #b2caf2;
}
body{
  background-color: #0B3F64;
  color: white;
  padding: 1vmin;
}
.course{
  color: white;
  font-size: x-large;
}
.section{
  background-color: #ddd;
  padding: 2%;
  color: black;
  align-self: start;
}
.section1{
  background-color: #ddd;
  padding: 2%;
  color: black;
  display: flex;
  font-size: x-large;
}
.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
/* text-align: center; */
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background: #ddd;
color: black;
}
body{
  background-color: #0B3F64;
  color: white;
}

    .form-container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: large;
    }
    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    .kengeri{
      font-size: large;
      color: rgb(22, 6, 85);
      background-color: #ffffffda;
      padding: 1%;
      text-align: center;
    }